{% load static %}
<!DOCTYPE html>
<html lang="en">

   <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>My Website</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
            <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
            <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" 
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" 
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
   </head>

   <body>
    {% block content %}
        <!--navbar-->
        <nav class="navbar navbar-expand-lg fixed-top auto-hiding-navbar">
         <div class="container">
           <a class="navbar-brand" href="#">

            {% load static %}
            <img src="{% static 'FindShopLogo.png' %}"  class="css" width="50" height="50" alt="css">
            FindShop
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="indexCustomer">Home</a>
               </li>
               

             </ul>
            
           </div>
         </div>
         
       </nav>
          <!--end of navbar-->

		<div style='background-color:rgb(207, 207, 248)'>
            <br>
            <br><br><br>
		<center><p style="color:rgb(54, 35, 191)"><h3>CREATE RESERVATION PAGE</h3></p></center>	
        &nbsp;
		</div>
		
		<hr><hr>
		<form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
		 <div class="form-group">
			<div class = "container">
			  <div class = "row">
				<br>
				<br>
			  </div>
					<div class="form-items">
					   
						<h3>Reservation</h3>
						<br>
						<p>Fill in the data below.</p>
            <br>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">T-square</a>
                  <a href="#" class="dropdown-item">Tracing Paper</a>
                  <a href="#" class="dropdown-item">Binder</a>
                  <a href="#"class="dropdown-item">Pentel Pen</a>
                  <a href="#"class="dropdown-item">Calculator</a>
              </div>
              <table id="example" style="width:100%" class="table table-striped table-sm">
                <thead>
                 <tr>
                  <th scope="col"class="text-center">SHOP NAME</th>
                  <!--<th scope="col" class="text-center">LOCATION</th>-->
                  </tr>
                </thead>
                <tbody>
                  {% for p in Products %}
                  <tr>
                    <td class="text-center">{{p.shopID}}</td>
                    <!--<td class="text-center">{{s.street}}, {{s.cityMunicipality}}, {{s.province}}</td>-->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </li>
						  <br> 
						   <div class="col-auto">
							  <input class="form-control" type="text" name="date" placeholder="Reservation Date" required>
							  <div class="valid-feedback">Date field is valid!</div>
							  <div class="invalid-feedback">Date field cannot be blank!</div>
						   </div>
						   <br>
						   <div class="col-auto">
							<input class="form-control" type="text" name="time" placeholder="Reservation Time" required>
							<div class="valid-feedback">Time field is valid!</div>
							<div class="invalid-feedback">Time field cannot be blank!</div>
						 </div>
						   <br>
						   <div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
							  <label class="form-check-label">I confirm that all data are correct</label>
							  <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
						   </div>
						   <br>
						   <center>
							<a type = "button" class="btn btn-secondary bg-gradient-secondary" id="id_registration" href="dashboard" >CANCEL</a>
							<button type="submit" class="btn btn-primary bg-gradient-primary">SAVE</button>
						  </center>
              <br>
            
            </div>
          
      </div>
		</form>
    
         {% endblock content %} 
         
   </body>
</html>
